
<div class="container-form">
  <form id="form" class="form">
    <label>Title:</label><input type="text" required name="title" id="title" />
    <label>Code:</label><input type="text" required name="code" id="code" />
    <label>Description:</label><input
      type="text"
      required
      name="description"
      id="description"
    />
    <label>Price:</label><input
      type="number"
      required
      name="price"
      id="price"
    />
    <label>Image:</label><input type="file" required name="thumbnails" id="thumbnails">
    <label>Stock:</label><input
      type="number"
      required
      name="stock"
      id="stock"
    />
    <label>Category:</label><input
      type="text"
      required
      name="category"
      id="category"
    />
    <button type="submit" value="SEND">CREAR PRODUCTO</button>
  </form>
</div>
    <div class="flex-container">
                    <div class="item" id="products"></div>
    </div>
    <div class="flex-container">
                    <div id="error"></div>
    </div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/index.js" charset="utf-8"></script>