
<nav>
    <img src="logoRoots.svg" width="200px" height="auto" alt="">
    <ul class="menuMain2">
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/realtimeproducts">REALTIMEPRODUCTS</a></li>
    </ul>
</nav>